<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<form th:action="@{/auth/registration}" th:method="POST" th:object="${librarian}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="birth">Year of birth:</label>
    <input type="text" th:field="*{yearOfBirth}" id="birth">
    <br>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <input type="submit" value="sign up">
</form>
</body>
</html>