<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthorName() + ', ' + book.getYear()}">one book</p>

<br>
<br>
<hr>

<div th:if="${person} == null">
    <p>This book is free</p>

    <form th:method="PATCH" th:action="@{/books/{id}/set(id=${book.getId()})}">
        <label for="person">Select person:</label>
        <select th:object="${personForSelect}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
        </select>

        <input type="submit" value="Set">
    </form>
</div>

<div th:if="${person} != null">

    <a th:href="@{/people/{id}(id=${person.getId()})}"  th:text="${person.getFullName() + ',' + person.getBirthYear()}">TRUE</a>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="release!">
    </form>

</div>

<hr>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Update</a>
<br>
<br>
<form th:action="@{/books/{id}(id=${book.getId()})}" th:method="DELETE">
    <input type="submit" value="delete">
</form>
</body>
</html>