<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Text full name</label>
    <input type="text" th:field="*{fullName}" id="fullName">
    <br>
    <label for="yearOfBirth">Year of birth</label>
    <input type="text" th:field="*{birthYear}" id="yearOfBirth">
    <br>
    <input type="submit" value="create">
</form>
</body>
</html>